/* app/globals.css */
@import "tailwindcss";

@theme {
  --color-zazu-turquoise: #05D5FA; /* Dominantna */
  --color-zazu-orange: #FF7A00;   /* Akcentna */
  --color-zazu-red: #FF3366;      /* Jarko crvena */
  --color-zazu-white: #FFFFFF;    /* Čista bijela */
  --color-zazu-dark: #121212;     /* Tamno siva/crna za elemente */
  --color-zazu-darker: #000000;   /* Čista crna za dubinu pozadine */
  
  --animate-spin-slow: spin 4s linear infinite;
}

@layer base {
  body {
    /* Mijenjamo u potpuno crnu kako bi boje iskočile */
    background-color: var(--color-zazu-darker);
    color: var(--color-zazu-white);
  }
}